// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    margin: 0;
    padding: 0;
    background: #fefefe;
    font-size: 16px;
    color: #1a001a;
    font-family: san-seriff;
    font-weight: 300;
}

#login-box {
    position: relative;
    margin: auto;
    height: 500px;
    width: 450px;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.4);

}

.left-box {
    position: absolute;
    top: 20px;
    left: 40px;
    box-sizing: border-box;
    padding: 30px;
    width: 300px;
    height: 400px;

}

h1 {
    margin: 40px 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid green;
    font-family: serif;
    color: black;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="submit"] {
    margin-top: 10px;
    margin-bottom: 28px;
    width: 170px;
    height: 32px;
    background: #f44336;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-family: sans-seriff;
    font-weight: 600px;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
}

input[type="button"] {
    position: absolute;
    margin-top: 60px;
    margin-bottom: 0px;
    margin-left: 100px;
    width: 100px;
    height: 36px;
    background: green;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-family: sans-seriff;
    font-weight: 600px;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
}


input[type="submit"]:hover,
input[type="submit"]:focus {
    background: #ff5722;
    transition: 0.2sec ease;
}

input[type="button"]:hover,
input[type="button"]:focus {
    background: LimeGreen;
    transition: 0.2sec ease;
}


.log-in {
    position: absolute;
    width: 400px;
    height: 40px;
    bottom: 40px;
    left: 70px;

}

.login-page-basic {
    a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: rgb(203, 255, 192);
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    color: #f1f1f1;
    background: #037494;
  }

  form {
    border: 3px solid #f1f1f1;
  }

  h2 {

    color: rgb(236, 234, 234);
  }

  input[type=text],
  input[type=email],
  input[type=password] {
    width: 420px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(247, 81, 81);
    box-sizing: border-box;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 10px;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
  }

  button {
    background-color: #d0efff;
    color: #1e1e1e;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 420px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 18px;
  }

  button:hover {
    opacity: 0.8;
  }


  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  img.avatar {
    width: 10%;
    border-radius: 60%;
  }

  .container {
    padding: 16px;
  }

  span.psw {
    color: #f44336;
    padding-top: 16px;
    padding-right: 15px;
    padding-bottom: 25px;
  }

  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
  }
}